/* Container for enabling accelerated APY */
.enable-accelerated-apy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Heading style */
 h3 {
  display: flex;
  align-items: center;
}

/* Toggle switch container */
 .switch {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  width: 60px;
  height: 34px;
}

/* Toggle switch input */
.enable-accelerated-apy .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Toggle switch slider */
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

/* Toggle switch slider before state */
 .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Toggle switch slider checked state */
input:checked + .slider {
  background-color: #FED700;
}

/* Toggle switch slider focus state */
 input:focus + .slider {
  box-shadow: 0 0 1px #FED700;
}

/* Toggle switch slider checked state before */
 input:checked + .slider:before {
  transform: translateX(26px);
}
