/* set the margin in App */
.App{
    margin-top: 20px ;
}

/* Set height and width of card */
.card {
    width: 650px;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    margin-top: 15%;
    margin-bottom: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Set style of card-content */
.card-content{
padding: 30px;
display: flex;
flex-direction: column;
}

.card-content h2 {
    font-family: 'Poppins', sans-serif; 
}

h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.close-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    color: #555;
}

.close-icon:hover {
    color: slateblue; 
}

