/* Styles for .Balance component */
.Balance {
    text-align: right;
}

/* Styles for .full-width-input component */
.full-width-input {
    width : 96%;
    height: 50px;
    border: 1px solid gray;
}

/* Styles for .tab-balance-container component */
.tab-balance-container {
    display: flex;
    justify-content: space-between;
}

/* Styles for .input-container input component */
.input-container input {
    background-color: rgba(169, 169, 169, 0.1);
    color: black;
    opacity: 0.6;
}

/* Styles for .input-container input::placeholder component */
.input-container input::placeholder {
    color: #000;
    font-weight: bold;
}


